# Django stuff:
*.log
*.sqlite3
*.sqlite3-journal
*.data
.DS_Store
local.py
*.db
staticfiles

# Celery
celerybeat*

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
*.pyc

# Environments
../venv/
venv/

# local env files
.env
backend/config/.env.prod

# Editor directories and files
.idea
ba
*.suo
*.ntvs*
*.njsproj
*.sln

.backend/config/.env.prod
