version: '3'

services:

  web:
    build:
      context: .
      dockerfile: Dockerfile.backend
    image: spendsplifbackend_web
    restart: always
    env_file:
      - ./backend/config/.env.prod
    volumes:
      - static_volume:/app/backend/static
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  db:
    image: postgres:15
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: spendsplif
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Serega20097
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile.celery
    image: spendsplifbackend_celery_worker
    restart: always
    env_file:
      - ./backend/config/.env.prod
    depends_on:
      - db
      - redis
    volumes:
      - static_volume:/app/backend/static
    command: celery -A backend.config worker --pool=solo --loglevel=INFO

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile.celery
    image: spendsplifbackend_celery_beat
    restart: always
    env_file:
      - ./backend/config/.env.prod
    depends_on:
      - db
      - redis
    volumes:
      - static_volume:/app/backend/static
    command: celery -A backend.config beat --loglevel=INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/backend/static
    depends_on:
      - web

volumes:
  postgres_data:
    driver: local
  static_volume: