version: '3'

services:

  web:
    build:
      context: .
      dockerfile: Dockerfile.backend
    image: spendsplitbackend_web
    restart: always
    env_file:
      - ./backend/config/.env.prod
    command: gunicorn backend.config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/app/static
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  db:
    image: postgres:15
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=your_db_name
      - POSTGRES_USER=your_db_user
      - POSTGRES_PASSWORD=your_db_password
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile.celery
    image: spendsplitbackend_celery_worker
    restart: always
    depends_on:
      - db
      - redis
    volumes:
      - static_volume:/app/static
    command: celery -A backend.config worker --pool=solo --loglevel=INFO

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile.celery
    image: spendsplitbackend_celery_beat
    restart: always
    depends_on:
      - db
      - redis
    volumes:
      - static_volume:/app/static
    command: celery -A backend.config beat --loglevel=INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume:
